.container {
    width: 46rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
    margin-top: -2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form > input[type='text'] {
    width: 85%;
    height: 3.375rem;
    padding: 1rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;

    color: var(--gray-100);
}

.form > input[type='text']:placeholder {
    color: var(--gray-300);
}

.form > button {
    width: 10%;
    height: 3.375rem;
    padding: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    color: var(--gray-100);
    background: var(--blue-dark);
    border-radius: 8px;
    border: 0;

    cursor: pointer;
}

.form > button:hover {
    background: var(--blue);
}

.containerTasks {
    width: 100%;
    margin: 2rem 0 1.5rem 0;

    font-size: 0.875rem;
    font-weight: 700;

    display: flex; 
    justify-content: space-between;
}

.createdTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: max-content;

    color: var(--blue);
}

.createdTasks > span {
    color: var(--gray-200);

    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;   
}

.completedTasks {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    height: max-content;

    color: var(--purple);
}

.completedTasks > span {
    color: var(--gray-200);

    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
}

.toDoList {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.75rem;
    
    background: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toDo {
    display: flex;
    align-items: center;

    color: var(--gray-100);
    font-size: 0.875rem;
}

.bullet {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.5rem;

    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 50%;
    outline: 0;
}

.bullet:hover {
    background-color: var(--blue-dark);
    opacity: 0.2;
}

.bullet:focus {
    box-shadow: 0 0 0 0px var(--purple-dark);
}

.bullet[data-state="checked"] {
    background-color: var(--purple);
}

.bullet[data-state="checked"] + label {
    text-decoration: line-through;
}

.indicator {
    color: var(--gray-100);
}

.trashIcon {
    padding: 0.2rem;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
}

.trashIcon:hover {
    color: var(--danger);
    background-color: var(--gray-400);   
}

.noneToDos {
    margin-top: 2rem;
    text-align: center;
    line-height: 1.4;
}

.pBold {
    font-weight: bold;
    margin-top: 0.5rem;
}

.categories {
    background-color: var(--gray-500);
    width: 100%;
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categories button{
    background-color: transparent;
    color: var(--gray-300);
    border: none;
    cursor: pointer;
}

.categories button:hover {
    color: var(--blue);
}

.displayNone {
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 40rem;
    }

    .form > button {
        width: 12%;
    }
}

@media (max-width: 640px) {
    .container {
        width: 30rem;
    }
}

@media (max-width: 500px) {
    .container {
        width: 25rem;
    }
}

@media screen and (max-width: 426px) {
    .container {
        width: 23rem;
    }

    .form > input[type='text'] {
        width: 71%;
    }

    .form > button {
        width: 22%;
    }
}

@media screen and (max-width: 376px) {
    .container {
        width: 20rem;
    }
}

@media screen and (max-width: 321px) {
    .container {
        width: 18rem;
    }
}